# Requirements for Cloud Functions deployment
# NOTE: Flask is an additional requirement to run as a local webserver, and
# the google-cloud-* dependencies are obviously not required for local use

google-cloud-firestore
google-cloud-storage
google-cloud-logging
google-cloud-error-reporting

# Ensure we use the version provided by Cloud Functions, per
# https://cloud.google.com/functions/docs/writing/specifying-dependencies-python#pre-installed_packages
requests==2.21.0
unidecode
